html,
body {
	margin: 0;
	padding: 0;
	font-family: YouYuan, KaiTai;
	width: 100%;
	height: 100%;
}

body {
	background-image: -moz-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgb(129, 208, 253)), url("https://cartoon.heheda.top/url.php");
	background-image: -webkit-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgb(129, 208, 253)), url("https://cartoon.heheda.top/url.php");
	background-image: -ms-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgb(129, 208, 253)), url("https://cartoon.heheda.top/url.php");
	background-image: linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgb(129, 208, 253)), url("https://cartoon.heheda.top/url.php");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: center center, center center;
	background-attachment: fixed, fixed;
}

.wrap {
	position: absolute;
	margin: 15px 10px 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	top: 50px;
}

.div1 {
	position: fixed;
	margin: auto;
	left: 10px;
	right: 10px;
	top: 10px;
	z-index: 99;
	border-radius: 20px;
	height: auto;
	text-align: center;
	background-color: rgb(22, 160, 134);
	padding: 5px 0;
}

.div1 a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 20px;
}

.wrap .item {
	display: inline-block;
	min-width: 200px;
	min-height: 200px;
	box-shadow: 0 10px 40px -10px rgb(255, 230, 0);
	border: 2px solid rgb(255, 230, 0);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	border-radius: 10px;
}

.wrap .item:hover {
	box-shadow: 0 10px 40px -10px rgb(98, 0, 255);
	border: 2px solid rgb(76, 0, 255);
	transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	cursor: pointer
}

.wrap .item .img_box {
	display: block;
	height: 150px;
	width: 150px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	text-align: center;
	margin: 10px auto;
}

.wrap .item .img_box img {
	height: 150px;
	width: 150px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.wrap .item .p1 {
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin: 0 5px 10px 5px;
}

@media (max-width: 1250px) {
	.wrap .item {
		min-width: auto;
		min-height: auto;
		width: 15%;
	}

	.wrap .item .img_box {
		height: 100px;
		width: 100px;
	}

	.wrap .item .img_box img {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 1024px) {
	.wrap .item {
		min-width: auto;
		min-height: auto;
		width: 18%;
	}
}

@media (max-width: 600px) {
	.wrap .item {
		min-width: auto;
		min-height: auto;
		width: 30%;
	}

	.wrap .item .img_box {
		height: 80px;
		width: 80px;
	}

	.wrap .item .img_box img {
		height: 80px;
		width: 80px;
	}
}
