html,
body {
	margin: 0;
	padding: 0;
	font-family: YouYuan, KaiTai;
	width: 100%;
	height: 100%;
}

body {
	background: -moz-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background: -webkit-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background: -ms-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background: linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: center center, center center;
	background-attachment: fixed, fixed;
}

#app {
	position: absolute;
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	top: 40px;
}

.div1 {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgb(22, 160, 134);
	padding: 10px 0;
}

.div1 a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 20px;
}

#app .item {
	width: 200px;
	height: auto;
	display: block;
	box-shadow: 0 10px 20px -10px #00a0e9;
	border: 2px solid #00a0e9;
	text-align: center;
	background-color: #000000;
	margin: 10px 5px;
	border-radius: 10px;
}

#app .item:hover {
	box-shadow: 0 10px 40px -10px #ffee00;
	border: 2px solid #ffee00;
	transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	-webkit-transform-style: inherit;
	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
	cursor: pointer
}

#app .item .img_box {
	display: block;
	height: 200px;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	text-align: center;
	background: #000000 url(../image/loader.gif) no-repeat center/70%;
}

#app .item .img_box img {
	height: 100%;
	width: 100%;
}

#app .item .p1 {
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin: 10px 5px;
}

#app .item .p2,
#app .item .p3 {
	font-size: 14px;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 0 20px;
	position: absolute;
}

#app .item .p2 {
	left: 0;
	bottom: 0;
	color: black;
	background-color: aqua;
}

#app .item .p3 {
	right: 0;
	top: 0;
	color: white;
	background-color: blueviolet;
}

@media (max-width: 1250px) {
	#app .item {
		height: auto;
		width: 180px;
	}

	#app .item .img_box {
		height: 180px;
	}
}

@media (max-width: 1024px) {
	#app .item {
		height: auto;
		width: 170px;
	}

	#app .item .img_box {
		height: 170px;
	}
}

@media (max-width: 600px) {
	#app .item {
		height: auto;
		width: 160px;
	}

	#app .item .img_box {
		height: 160px;
	}
}

@media (max-width:370px) {
	#app .item {
		height: auto;
		width: 130px;
	}

	#app .item .img_box {
		height: 130px;
	}
}

/*谷歌、safari、qq浏览器、360浏览器滚动条样式*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 10px;
	height: 100%;
	background-color: rgb(226, 255, 254);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #202124;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #00a0e9;
}

/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ffee00;
}
