* {
	list-style: none;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: YouYuan, KaiTai;
}

html,
body {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
}

body {
	background: -moz-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background: -webkit-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background: -ms-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background: linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../image/bg.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: center center, center center;
	background-attachment: fixed, fixed;
	opacity: 1;
	-moz-transition: opacity 2s ease-out;
	-webkit-transition: opacity 2s ease-out;
	-ms-transition: opacity 2s ease-out;
	transition: opacity 2s ease-out;
}

#app {
	position: absolute;
	margin: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	top: 40px;
}

.div1 {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: aqua;
	padding: 0;
}

.title {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 25px;
	position: absolute;
	line-height: 40px;
	margin: 5px;
	left: 15px;
}

.title img {
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

.lad,
#yzxtg {
	display: none;
}

.hul {
	display: inline-block;
	position: fixed;
	margin: auto;
	padding: 0;
	overflow: hidden;
	list-style: none;
	right: 15px;
}

.hul li {
	display: inline-block;
	margin: 5px;
}

.hul li a {
	display: inline-block;
	color: black;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 1px;
	text-decoration: none;
	position: relative;
	text-align: center;
}

.hul li a img {
	height: 25px;
	width: 25px;
	margin: 5px;
	vertical-align: middle;
	text-align: center;
}

.hul li a:hover,
.hul li a.selected {
	color: #00a0e9;
	text-align: center;
}

#app .item {
	width: 200px;
	height: auto;
	display: block;
	box-shadow: 0 10px 20px -10px #00a0e9;
	border: 2px solid #00a0e9;
	text-align: center;
	background-color: #000000;
	margin: 10px 5px;
	border-radius: 10px;
}

#app .item:hover {
	box-shadow: 0 10px 40px -10px #ffee00;
	border: 2px solid #ffee00;
	transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	-webkit-transform-style: inherit;
	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
	cursor: pointer
}

#app .item .img_box {
	display: block;
	height: 200px;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	text-align: center;
	background: #000000 url(../image/loader.gif) no-repeat center/70%;
}

#app .item .img_box img {
	height: 100%;
	width: 100%;
}

#app .item .p1 {
	font-size: 15px;
	color: white;
	font-weight: bold;
	margin: 10px 5px;
}

#app .item .p2,
#app .item .p3 {
	font-size: 14px;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 0 20px;
	position: absolute;
}

#app .item .p2 {
	left: 0;
	bottom: 0;
	color: black;
	background-color: aqua;
}

#app .item .p3 {
	right: 0;
	top: 0;
	color: white;
	background-color: blueviolet;
}

#search {
	width: 100px;
	height: 15px;
	line-height: 15px;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	color: black;
	font-weight: bold;
	border: 2px solid mediumaquamarine;
	font-size: 14px;
}

.sapp {
	width: 100%;
	top: 50% !important;
}

@media (max-width: 1250px) {
	#app .item {
		height: auto;
		width: 180px;
	}

	#app .item .img_box {
		height: 180px;
	}
}

@media (max-width: 1024px) {
	#app .item {
		height: auto;
		width: 170px;
	}

	#app .item .img_box {
		height: 170px;
	}

	.lad {
		display: inline-block;
		position: absolute;
		right: 15px;
		margin: 5px;
	}

	.lad img {
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	.hul {
		position: absolute;
		width: 100%;
		max-height: 600px;
		display: block;
		background-color: aqua;
		margin: 0;
		transition: max-height 1s linear;
		top: 50px;
		right: 0;
	}

	.hul li {
		display: block;
		border-radius: 20px;
		background-color: cadetblue;
	}

	.hul li a {
		display: block;
		width: 100%;
		padding: 5px;
		color: black;
		font-size: 18px;
	}

	.hul li #search {
		display: block;
		padding: 10px;
		margin: auto;
	}

	:checked~.hul {
		max-height: 0;
		transition: max-height 1s linear;
	}
}

@media (max-width: 600px) {
	#app .item {
		height: auto;
		width: 160px;
	}

	#app .item .img_box {
		height: 160px;
	}
}

@media (max-width:370px) {
	#app .item {
		height: auto;
		width: 130px;
	}

	#app .item .img_box {
		height: 130px;
	}
}

/*谷歌、safari、qq浏览器、360浏览器滚动条样式*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 10px;
	height: 100%;
	background-color: rgb(226, 255, 254);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #202124;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #00a0e9;
}

/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ffee00;
}

/* 页面加载遮罩 */
.is-loading {
	display: block;
	position: fixed;
	opacity: 0;
	background: -moz-linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../image/loader.gif) no-repeat center/20%;
	background: -webkit-linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../image/loader.gif) no-repeat center/20%;
	background: -ms-linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../image/loader.gif) no-repeat center/20%;
	background: linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../image/loader.gif) no-repeat center/20%;
}
