* {
	list-style: none;
	padding: 0;
	margin: 0;
	touch-action: none;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: bold;
	font-family: PingFang SC, SimSun, KaiTi, YouYuan;
	text-align: center;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	background: -moz-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../../image/bg.jpg");
	background: -webkit-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../../image/bg.jpg");
	background: -ms-linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../../image/bg.jpg");
	background: linear-gradient(60deg, rgba(253, 158, 240, 0.5), rgba(129, 208, 253, 0.5)), url("../../image/bg.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: center center, center center;
	background-attachment: fixed, fixed;
	opacity: 1;
	transform: rotateX(0deg);
	-moz-transition: opacity 2s ease-out, transform 2s ease;
	-webkit-transition: opacity 2s ease-out, transform 2s ease;
	-ms-transition: opacity 2s ease-out, transform 2s ease;
	transition: opacity 2s ease-out, transform 2s ease;
}

/* 标题容器 */
.titler,
.titlel {
	position: fixed;
	top: 20px;
	background-color: aqua;
	padding: 0 5px;
	border-radius: 10px;
	display: block;
	z-index: 10;
	transition: 0.5s linear;
}

.titler {
	left: 20px;
}

.titlel {
	right: 20px;
}

.titbut {
	padding: 5px;
	margin: 0;
	display: inline-block;
	background-color: aqua;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 1s;
}

.titbut:hover {
	& img {
		transform: rotateZ(360deg);
	}

	& p {
		color: #008cff;
	}
}

.titbut img {
	height: 30px;
	width: 30px;
	transition: all 1s;
}

.titbut p {
	color: #000000;
	font-size: 14px;
	transition: all 1s;
}

#share {
	display: none;
}

#name {
	position: absolute;
	display: inline-block;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	padding: 5px;
	background-color: aqua;
	border-radius: 10px;
	z-index: 999;
	transition: 0.5s linear;
}

/* 通用 */
#show_box {
	display: inline-block;
	position: relative;
	background: url(../../image/nesico.svg) no-repeat center/90%;
	font-size: 0;
}

.btnload {
	background-color: rgba(225, 225, 225, 0.5);
	color: #ff4400;
	cursor: pointer;
	transition: all 1s;
}

.btnload:hover {
	color: black;
	background-color: aqua;
}

#btn_load {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	padding: 5px;
	border-radius: 10px;
}

.showload {
	background-color: white;
	color: #000000;
}

/* 摇杆按钮容器 */
#direction,
#user_btn_box {
	display: none;
	z-index: 90;
	position: fixed;
	bottom: 25px;
}

/* 摇杆容器 */
#direction {
	left: 25px;
	width: 150px;
	height: 150px;
	background: url(../../image/yg.png) no-repeat center/cover;
	cursor: move;
}

/* 按钮容器 */
#user_btn_box {
	right: 25px;
	width: 150px;
	height: 170px;
}

/*按钮样式*/
.nes_btn_box {
	margin: 0 auto;
	width: 150px;
	height: 170px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	-webkit-tap-highlight-color: transparent;
}

.nes_btn_box .btn {
	height: 20px;
	line-height: 20px;
	background-color: red;
	color: lightcyan;
	cursor: pointer;
	border-radius: 20px;
	opacity: 0.5;
}

/* 点击时按钮的背景色 */
.nes_btn_box .btn.isTouch {
	background-color: linen;
}

.nes_btn_box .btn-select,
.nes_btn_box .btn-start {
	width: 45%;
	margin-bottom: 20px;
}

.nes_btn_box .btn-ab,
.nes_btn_box .btn-a,
.nes_btn_box .btn-b {
	height: 50px;
	line-height: 50px;
}

.nes_btn_box .btn-ab {
	width: 80%;
}

.nes_btn_box .btn-a,
.nes_btn_box .btn-b {
	width: 45%;
}

/* 按键映射说明 */
#player1,
#player2 {
	display: none;
	bottom: 20px;
	padding: 10px;
	position: absolute;
	z-index: 90;
	font-size: 20px;
	background-color: aqua;
	border-radius: 10px;
	transition: 0.5s linear;
}

#player1 {
	left: 20px;
}

#player2 {
	right: 20px;
}

.plp {
	font-size: 30px;
	line-height: 40px;
}

hr {
	border-top: 5px double red;
}

/* 存档菜单 */
#hnul {
	padding: 5px;
	background-color: rebeccapurple;
	color: black;
	height: 550px;
	width: 360px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 20px;
	display: none;
	z-index: 999;
	box-shadow: 0px 0px 30px 15px black;
}

.hnli {
	height: 100px;
	margin: 5px;
	background-color: aqua;
	border-radius: 20px;
	display: inline-block;
}

.hnimg {
	height: 100px;
	width: 100px;
	float: left;
	background: aqua url(../../image/gsave.png) no-repeat center/cover;
	border-radius: 20px;
}

.hnimg img {
	height: 100px;
	width: 100px;
	border-radius: 20px;
}

.hndiv {
	height: 100px;
	width: 350px;
}

.hndiv p {
	font-size: 16px;
	margin: 5px;
}

.hnsbut,
.hndbut,
.hnlbut {
	height: 30px;
	width: 50px;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	line-height: 30px;
	margin: 5px;
	cursor: pointer;
}

.hnsbut {
	background-color: green;
}

.hndbut {
	background-color: red;
}

.hnlbut {
	background-color: blue;
}

/* 竖屏 */
@media screen and (orientation: portrait) {
	#show_box {
		width: 100%;
		height: auto;
	}

	#show_box #nes-canvas {
		width: 100%;
		height: auto;
	}

	.titlel,
	.titler {
		display: contents;
	}

	.titbut {
		margin: 10px auto;
	}

	#name {
		display: none;
	}
}

/* 横屏 */
@media screen and (orientation: landscape) {
	#show_box {
		width: auto;
		height: 100%;
	}

	#show_box #nes-canvas {
		width: auto;
		height: 100%;
	}
}

/* 页面加载遮罩 */
.is-loading {
	display: block;
	position: fixed;
	opacity: 0;
	transform: rotateX(360deg);
	background: -moz-linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../../image/loader.svg) no-repeat center/20%;
	background: -webkit-linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../../image/loader.svg) no-repeat center/20%;
	background: -ms-linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../../image/loader.svg) no-repeat center/20%;
	background: linear-gradient(60deg, rgba(253, 158, 240, 0.7), rgba(129, 208, 253, 0.7)) no-repeat center/cover, url(../../image/loader.svg) no-repeat center/20%;
}